/* base */

html {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 720px;
    min-width: 320px;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


/* particles.js */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpg');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0;
}


/* Preloader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin 2s linear infinite;
    z-index: 2001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 2000;
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

.no-js #loader-wrapper {
    display: none;
}


/* footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 1;
}

.footer-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.heart {
    color: #EB5E28;
    display: inline-block;
    animation: hearting 1s ease infinite;
}

@keyframes hearting {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}

.social-icons-container {
    margin-bottom: 10px;
}

.social-link {
    color: white;
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    margin-right: 5px;
    transition: all 1s ease-in-out;
}

.social-link:hover {
    color: gray;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    animation-name: social-wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes social-wobble-vertical {
    16.65% {
        transform: translateY(8px);
    }
    33.3% {
        transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
    }
    66.6% {
        transform: translateY(-2px);
    }
    83.25% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}


/* home */

.avatar-wrapper {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.avatar-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.avatar-wrapper:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    animation-name: avatar-bob-float, avatar-bob;
    animation-duration: 0.5s, 1.5s;
    animation-delay: 0s, 0.5s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}

@keyframes avatar-bob {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-30px);
    }
}

@keyframes avatar-bob-float {
    100% {
        transform: translateY(-30px);
    }
}

.typing {
    border-right: .1em solid;
    width: 12.2ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 8s steps(9, end), blink-caret .4s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.logo:hover {
    animation-name: logo-buzz-out;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes logo-buzz-out {
    10% {
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        transform: translateX(1px) rotate(0);
    }
    100% {
        transform: translateX(-1px) rotate(0);
    }
}

.nav-link:hover {
    transform: scale(1.1);
}


/* services */

.service-block {
    width: 120px;
    height: 100px;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.service-block:hover {
    cursor: pointer;
    transform: translateY(-10px);
}


/* skills */

.progress {
    height: 4px;
}

p img {
    margin-bottom: 4px;
    vertical-align: bottom;
}


/* contact */

.md-form label {
    font-size: 1.2rem;
}

.md-form label.active {
    font-size: 1rem;
}

.form-control {
    font-size: 1.2rem;
}

.btn {
    font-size: 1rem;
}


/* about */

#small-avatar,
#my-name {
    cursor: pointer;
}